<?xml version="1.0"?>
<config>
    <tabs>
        <osticketapi module="copex_osticketapi">
            <label>OS Ticket API</label>
            <sort_order>102</sort_order>
        </osticketapi>
    </tabs>
    <sections>
        <osticketapi translate="label" module="copex_osticketapi">
            <label>Configuration</label>
            <tab>osticketapi</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>API settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled or not</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <url>
                            <label>URL of OSTicket API</label>
                            <comment>Full url incl. http(s)://www.Domain.com/api/tickets.json</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url>
                        <api_key>
                            <label>API Key</label>
                            <comment>The API key which is generated by OSTicket</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <subject>
                            <label>Ticket subject</label>
                            <comment>The Subject of the Ticket which is created in OSTicket</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </subject>
                        <topic_id>
                            <label>Topic ID</label>
                            <comment>the help Topic that you want to use for the ticket</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </topic_id>
                        <dept_id>
                            <label>Department ID</label>
                            <comment>Topic ID is the assigned Department of OSTicket</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dept_id>
                    </fields>
                </settings>
            </groups>
        </osticketapi>
    </sections>
</config>
